{% if account != nil %}

	{% assign orders_query 	= "orders" | db_find: company_id: account._id, _id: params.id %}
	{% assign order 				= orders_query.results.first %}

	{% if order != nil %}

		{% if order.payment_method_id != nil %}
			{% assign payment_methods_query 	= "payment_methods" | db_find: company_id: account._id, _id: order.payment_method_id %}
			{% assign payment_method 					= payment_methods_query.results.first %}
		{% endif %}

		{% if order.delivery_method_id != nil %}
			{% assign delivery_methods_query 	= "delivery_methods" | db_find: company_id: account._id, _id: order.delivery_method_id %}
			{% assign delivery_method 				= delivery_methods_query.results.first %}
		{% endif %}

		{% if order.status_id != nil %}
			{% assign statuses_query 					= "statuses" | db_find: company_id: account._id, _id: order.status_id %}
			{% assign status 									= statuses_query.results.first %}
		{% endif %}

		{% capture country_ids %}{{ order.billing_country_id }} {{ order.shipping_country_id }}{% endcapture %}
		{% assign country_ids 				= country_ids | strip | split: " " | uniq %}
		{% if country_ids.size > 0 %}
			{% assign countries_query 				= "countries" | db_find: company_id: account._id, _ids: country_ids %}
			{% assign countries 							= countries_query.results | to_hash: "_id" %}
		{% endif %}

		{% assign shipments_query 		= "shipments" | db_find: company_id: account._id, order_id: order._id %}
		{% assign shipments 					= shipments_query.results %}

		{% assign order_lines_query 	= "order_lines" | db_find: company_id: account._id, order_id: order._id %}
		{% assign order_lines 				= order_lines_query.results %}

		{% if order_lines.size > 0 %}
			{% assign variant_ids = "" %}
			{% for order_line in order_lines %}
				{% if order_line.variant_id != nil %}
					{% capture variant_ids %}{{ variant_ids }} {{ order_line.variant_id }}{% endcapture %}
				{% endif %}
			{% endfor %}

			{% if variant_ids != "" %}
				{% assign variant_ids 		= variant_ids | split: " " %}
				{% assign variants_query 	= "variants" | db_find: company_id: account._id, _ids: variant_ids %}
				{% assign variants 				= variants_query.results %}

				{% if variants.size > 0 %}
					{% assign product_ids = "" %}
					{% for variant in variants %}
						{% if variant.product_id != nil %}
							{% capture product_ids %}{{ product_ids }} {{ variant.product_id }}{% endcapture %}
						{% endif %}
					{% endfor %}
					{% if product_ids != "" %}
						{% assign product_ids 		= product_ids | split: " " %}
						{% assign products_query 	= "products" | db_find: company_id: account._id, _ids: product_ids %}
						{% assign products 				= products_query.results | to_hash: "_id" %}
					{% endif %}
				{% endif %}

				{% assign variants 		= variants | to_hash: "_id" %}

			{% endif %}
		{% endif %}

		{% include "order" %}

	{% endif %}
{% endif %}