{% assign variants_query 	= "variants" | db_find: company_id: account._id, _id: params.id %}
{% assign variant 				= variants_query.results.first %}

{% if variant != nil %}
	{% assign products_query 				= "products" | db_find: company_id: account._id, _id: variant.product_id %}
	{% assign product 							= products_query.results.first %}
	{% if variant.stock_movements != nil %}
		{% assign webshops_query 				= "webshops" | db_find: company_id: account._id, _id: variant.webshop_id %}
		{% assign webshop 							= webshops_query.results.first %}

		{% assign order_lines_query 		= "order_lines" | db_find: company_id: account._id, variant_id: variant._id %}
		{% assign order_lines 					= order_lines_query.results %}

		{% assign order_ids = "" %}
		{% for order_line in order_lines %}
			{% capture order_ids %}{{ order_ids }} {{ order_line.order_id }}{% endcapture %}
		{% endfor %}
		{% assign order_ids 						= order_ids | strip | split: " " | uniq %}

		{% assign orders_query 					= "orders" | db_find: company_id: account._id, _ids: order_ids %}
		{% assign orders 								= orders_query.results %}

		{% assign order_lines 					= order_lines | to_hash: "order_id" %}

		{% assign stock_message_ids = "" %}
		{% for stock_movement in variant.stock_movements %}
			{% if stock_movement.stock_message_id != nil %}
				{% capture stock_message_ids %}{{ stock_message_ids }} {{ stock_movement.stock_message_id }}{% endcapture %}
			{% endif %}
		{% endfor %}
		{% assign stock_message_ids 		= stock_message_ids | strip | split: " " | uniq %}

		{% assign stock_messages_query 	= "stock_messages" | db_find: company_id: account._id, _ids: stock_message_ids %}
		{% assign stock_messages 				= stock_messages_query.results | to_hash: "_id" %}
	{% endif %}

	{% include "variant" %}

{% endif %}