{% assign webshops_count 		= "webshops_count" | db_count: company_id: account._id %}
{% assign webshops_query 		= "webshops" | db_find: company_id: account._id, _id: params.id %}
{% assign webshop 					= webshops_query.results.first %}

{% if webshop != nil %}

	{% assign stock_messages_query 		= "stock_messages" | db_find: company_id: account._id, webshop_id: webshop._id %}
	{% assign stock_messages 					= stock_messages_query.results %}

	{% assign statuses_query 					= "statuses" | db_find: company_id: account._id, webshop_id: webshop._id %}
	{% assign statuses 								= statuses_query.results %}

	{% assign payment_methods_query 	= "payment_methods" | db_find: company_id: account._id, webshop_id: webshop._id %}
	{% assign payment_methods 				= payment_methods_query.results %}

	{% assign delivery_methods_query 	= "delivery_methods" | db_find: company_id: account._id, webshop_id: webshop._id %}
	{% assign delivery_methods 				= delivery_methods_query.results %}

	{% assign countries_query 				= "countries" | db_find: company_id: account._id, webshop_id: webshop._id %}
	{% assign countries 							= countries_query.results %}

{% endif %}

{% include "webshop" %}