<table width="100%">
	<tbody>
		<tr>
			<td width="180">
				<b>{{ l.headers.datetime }}:</b>
			</td>
			<td>
				{% include "order/details/datetime" %}
			</td>
		</tr>
		<tr>
			<td width="180">
				<b>{{ l.headers.payment_method }}:</b>
			</td>
			<td>
				{% include "order/details/payment_method" %}
			</td>
		</tr>
		<tr>
			<td width="180">
				<b>{{ l.headers.delivery_method }}:</b>
			</td>
			<td>
				{% include "order/details/delivery_method" %}
			</td>
		</tr>
		<tr>
			<td>
				<b>{{ l.headers.state }}:</b>
			</td>
			<td>
				{% include "order/details/state" %}
			</td>
		</tr>
		<tr>
			<td width="180">
				<b>{{ l.headers.mail_address }}:</b>
			</td>
			<td>
				{% include "order/details/mail_address" %}
			</td>
		</tr>
		<tr>
			<td width="180">
				<b>{{ l.headers.price }}:</b>
			</td>
			<td>
				{% include "order/details/price" %}
			</td>
		</tr>
	</tbody>
</table>