{% assign max_name_chars 				= 10 %}
{% assign max_variations_chars 	= 5 %}

<table class="table mt-2">
	<thead>
		<tr>
			<th class="border-bottom-0">{{ l.headers.quantity }}</th>
			<th class="border-bottom-0">{{ l.headers.product_name }}</th>
			<th class="border-bottom-0">{{ l.headers.price }}</th>
			<th class="border-bottom-0">{{ l.headers.variations }}</th>
		</tr>
	</thead>
	<tbody>
		{% for order_line in order_lines %}
			{% include "order/order_lines/find_variant_and_product" %}
			<tr>
				<td>{% include "order/order_lines/quantity" %}</td>
				<td>{% include "order/order_lines/product_name" %}</td>
				<td>{% include "order/order_lines/price" %}</td>
				<td>{% include "order/order_lines/variant_variations" %}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>