<h5 class="mb-4">
	{% capture anchor %}action=auths__new&relay_id={{ webshop.relay_id }}&webshop_id={{ webshop._id }}{% endcapture %}
	{{ l.headlines[klass] }} {{ l.headline_2 }} <a href="{{ 'integrations__index' | path_for: anchor: anchor }}">{{ webshop._id }}</a>
</h5>

<table class="table">
	<tbody>
		{% if document.remote_id != nil and document.remote_id != "" %}
			<tr>
				<td>
					<b>{{ l.headers.remote_id }}:</b>
				</td>
				<td>
					{% include "shared/webshop_document/remote_id" %}
				</td>
			</tr>
		{% endif %}
		<tr>
			<td>
				<b>{{ l.headers.name }}:</b>
			</td>
			<td>
				{% include "shared/webshop_document/name" %}
			</td>
		</tr>
	</tbody>
</table>