{% assign first_page 	= 0 %}
{% assign last_page 	= pages | minus: 1 | at_least: 0 %}
{% assign btn_style 	= "min-width: 50px;border-color:#a0a4a9;" %}

<div class="btn-group" role="group" aria-label="pagination">
	{% if page == first_page %}
		<button type="button" class="btn btn-outline-secondary disabled" style="{{ btn_style }}">{{ l.previous }}</button>
	{% else %}
		<a href="/{{ params.locale }}/{{ klass }}?page={{ page | minus: 1 }}&per_page={{ per_page }}" class="btn btn-outline-primary" style="{{ btn_style }}">{{ l.previous }}</a>
	{% endif %}

	{% assign page_minus_6 			= page | minus: 6 %}
	{% assign page_plus_6 			= page | plus: 6 %}

	{% assign before_pages 			= 6 %}
	{% assign after_pages 			= 6 %}

	{% for page_n in (page_minus_6..page_plus_6) %}
		{% if first_page > page_n %}
			{% assign after_pages 	= after_pages | plus: 1 %}
		{% elsif page_n > last_page %}
			{% assign before_pages 	= before_pages | plus: 1 %}
		{% endif %}
	{% endfor %}

	{% assign start_page 				= page | minus: before_pages %}
	{% assign end_page 					= page | plus: after_pages %}

	{% if first_page > start_page %}
		{% assign start_page 			= first_page %}
	{% endif %}

	{% if end_page > last_page %}
		{% assign end_page 				= last_page %}
	{% endif %}

	{% assign start_page_plus_2 = start_page | plus: 2 %}
	{% assign end_page_minus_2 	= end_page | minus: 2 %}

	{% assign first_page_plus_2 = first_page | plus: 2 %}
	{% assign last_page_minus_2 = last_page | minus: 2 %}

	{% for page_i in (start_page..end_page) %}
		{% if page_i == page %}
			<button type="button" class="btn btn-outline-primary active" style="{{ btn_style }}">{{ page_i | plus: 1 }}</button>
		{% else %}
			{% if start_page_plus_2 >= page_i %}
				{% assign factor 			= page_i | minus: start_page %}
				{% assign page_number = first_page | plus: factor %}
			{% elsif page_i >= end_page_minus_2 %}
				{% assign factor 			= end_page | minus: page_i %}
				{% assign page_number = last_page | minus: factor %}
			{% else %}
				{% assign factor 			= "none" %}
				{% assign page_number = page_i %}
			{% endif %}

			{% if page_number == first_page_plus_2 or page_number == last_page_minus_2 %}
				{% assign dots = true %}
			{% else %}
				{% assign dots = false %}
			{% endif %}

			{% if page_i != page_number and dots %}
				<button type="button" class="btn btn-outline-secondary disabled" style="{{ btn_style }}">...</button>
			{% else %}
				<a href="/{{ params.locale }}/{{ klass }}?page={{ page_number }}&per_page={{ per_page }}" class="btn btn-outline-primary" style="{{ btn_style }}">{{ page_number | plus: 1 }}</a>
			{% endif %}

		{% endif %}
	{% endfor %}

	{% if page == last_page %}
		<button type="button" class="btn btn-outline-secondary disabled" style="{{ btn_style }}">{{ l.next }}</button>
	{% else %}
		<a href="/{{ params.locale }}/{{ klass }}?page={{ page | plus: 1 }}&per_page={{ per_page }}" class="btn btn-outline-primary" style="{{ btn_style }}">{{ l.next }}</a>
	{% endif %}
</div>