{% if credit_note.order_lines != nil %}
  {% for order_line in credit_note.order_lines %}
    {% include "order/order_lines/find_variant_and_product" %}
    <p>
      {{ order_line.quantity }} {{ l.pcs }}
      {% if product != nil %}
        <a href="{{ 'products__show' | path_for: id: product._id }}">{{ product.name | decrypt | strip_html | truncate: max_name_chars }}</a> ·
      {% endif %}

      {% if variant != nil %}
        {% include "order/order_lines/variant_variations" %}
      {% else %}
        {{ order_line.variant_sku | decrypt | strip_html | truncate: max_variations_chars }}
      {% endif %}
    </p>
  {% endfor %}
{% endif %}